body
{
    text-align: center;
}
#welcome {
    color: #FFFFFF;
    bottom: 0;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.mynav-bar{
    position: sticky;
    top: 0;
    z-index: 235357588888;
}
#bl{
    width: 400px;
    height: 400px;
    text-align: center;
}
img{
    width: 400px;
    height: 400px;
    text-align: center;
}
#homephoto{
    width: 800px;
  height: 800px;
    text-align: center;
}